@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Masedi Pedmond Bodikwa</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@

    <h2>For customer tablee clicl<a href="/Customer"class="btn btn-primary" target="_blank">click here</a></h2>

</div>
<p>
    Our Progect is based on customers to book their order online by chosing
    Order date for delivery 
    our comkpany is have a free delivery for each cusatomer staying on the same extention 
    where the company is located 
    Any extetion away from our company we charge R100 
    We diliver on time

    Ejoy your bocking meal you like.
</p>