@model Food.DAL.Models.Customer

@{
    ViewData["Title"] = "Create";
}

<h1>Create customer</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Customer Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label">Customer Surname</label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactNumber" class="control-label">Contact Number</label>
                <input asp-for="ContactNumber" class="form-control" />
                <span asp-validation-for="ContactNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnailAdress" class="control-label">Enail Adress</label>
                <input asp-for="EnailAdress" class="form-control" />
                <span asp-validation-for="EnailAdress" class="text-danger"></span>
            </div>

            <div class="form-group">

                    <label asp-for="CountryId" class="control-label">Country Name</label>
                    <select asp-for="CountryId" class="form-control" asp-items="ViewBag.countryViewbag">
                        <option value=" ">--select--</option>
                    </select>

                </div>

            @*<div class="form-group">

                <div class="col-md-6">

                    <div class="position-relative form-group">
                        <label for="CountryId." class="">Country Name</label>
                        <input asp-for="Country" class="form-control" 
                          required placeholder="Enter name of recently visited location" />
                        <span asp-validation-for="CountryId" class="text-danger"></span>
                    </div>
                </div>
            </div>*@
            




            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&key=AIzaSyCUqE3EyGYZe75yUrYJdS2M4j868WUU350"></script>
    <script type="text/javascript">
        google.maps.event.addDomListener(window, 'load', function () {
            var options = {
                componentRestrictions: { country: "za" }
            };
            var input = document.getElementById('Country');
            var places = new google.maps.places.Autocomplete(input, options);
        });
    </script>



}
