@model IEnumerable<Food.DAL.Models.Country>

@{
    ViewData["Title"] = "Index";
}

<h1>Countries</h1>

<p>
   
    <a asp-action="Create"class="btn btn-primary">Add Country</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CountryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CountryName)
            </td>
            <td>
                <a asp-action="Edit"class="btn btn-dark" asp-route-id="@item.CountryId">Edit</a> |
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.CountryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
